@import 'materialize-css/sass/materialize';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary: #238dc1;
$secondary: #d3d655;

.row {
    margin-bottom: 0;
}

input:-webkit-autofill+label {
    font-size: 0.8rem;
    transform: translateY(-140%);
}

#form_wrapper {
    padding: 10px;
    border-radius: 30px;

    z-index: 9999;
}

#submit {
    border-radius: 30px;
    color: #212121;
    background-color: $secondary;
}

.timepicker-modal,
.datepicker-modal {
    border-radius: 30px;
}

.timepicker-digital-display,
.datepicker-date-display {
    background-color: $primary;
}

.timepicker-svg>g {
    line {
        stroke: $secondary;
    }

    circle {
        fill: $secondary;
    }

}

.datepicker-table td {
    &.is-today {
        color: $secondary;
    }

    &.is-selected {
        background-color: $primary;
    }
}

.timepicker-tick:hover,
.datepicker-day-button:hover {
    background-color: $secondary;
    opacity: 30%;
}

.timepicker-close,
.datepicker-cancel,
.datepicker-done {
    border-radius: 30px;
    color: $primary;
}

.datepicker-calendar-container {
    margin: 0 10px;
}

.month-next,
.month-prev {
    border-radius: 30px;
}


ul.dropdown-content {
    border-radius: 30px;

    li>span {
        color: $primary;
    }
}


.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid $primary;
}

textarea.materialize-textarea:focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
}

textarea.materialize-textarea:focus:not([readonly])+label,
input[type='text']:not(.browser-default):focus:not([readonly])+label,
input[type='email']:not(.browser-default):focus:not([readonly])+label,
input[type='tel']:not(.browser-default):focus:not([readonly])+label,
input[type='number']:not(.browser-default):focus:not([readonly])+label {
    color: $primary;
}

/* label focus color */
.input-field>input[type=text]:focus+label {
    color: $primary;
}

.input-field>textarea:focus+label {
    color: $primary;
}

/* label underline focus color */
.input-field>input[type=text]:focus {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 #000;
}

.input-field>textarea:focus {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: $primary;
}