<div id="form_wrapper" class="row z-depth-5">
    <form id="geoop-form" class="col s12">
        <div class="row">
            <div id="request_type__wrapper" class="input-field col s12">
                <i class="material-icons prefix">question_answer</i>
                <select id="request_type" name="request_type" required>
                    <option id="type" value="" disabled selected>Request Type *</option>
                    <option id="job" value="job">Job Request</option>
                    <option id="quote" value="quote">Quote Request</option>
                </select>
                <label>Request Type</label>
            </div>
        </div>
        <div class="row">
            <div id="request_details__wrapper" class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="request_details" name="request_details" class="materialize-textarea" required></textarea>
                <label for="request_details">Request Details *</label>
            </div>
        </div>
        <div class="row">
            <div id="first_name__wrapper" class="input-field col s12 m6">
                <i class="material-icons prefix">person</i>
                <input id="first_name" name="first_name" type="text" class="validate" required>
                <label for="first_name">First Name *</label>
            </div>
            <div id="last_name__wrapper" class="input-field col s12 m6">
                <i class="material-icons prefix">person_outline</i>
                <input id="last_name" name="last_name" type="text" class="validate" required>
                <label for="last_name">Last Name *</label>
            </div>
        </div>
        <div class="row">
            <div id="phone__wrapper" class="input-field col s12 m4">
                <i class="material-icons prefix">phone</i>
                <input id="phone" type="tel" class="validate" required>
                <label for="phone">Phone *</label>
            </div>
            <div id="email__wrapper" class="input-field col s12 m8">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" required>
                <label for="email">Email *</label>
            </div>
        </div>

        <div class="row">
            <div id="address__wrapper" class="input-field col s12">
                <i class="material-icons prefix">home</i>
                <input id="address" name="address" type="text" class="validate" required>
                <label for="address">Address *</label>
            </div>
        </div>
        <div class="row">
            <div id="address2__wrapper" class="input-field col s12">
                <i class="material-icons prefix">add_location</i>
                <input id="address2" name="address2" type="text" class="validate">
                <label for="address2">Address 2</label>
            </div>
        </div>
        <div class="row">
            <div id="city__wrapper" class="input-field col s12 l4">
                <i class="material-icons prefix">location_city</i>
                <input id="city" name="city" type="text" class="validate" required>
                <label for="city">City *</label>
            </div>
            <div class="input-field col s12 m8 l4">
                <i class="material-icons prefix">location_on</i>
                <input id="state" name="state" type="text" class="validate">
                <label for="state">State</label>
            </div>
            <div id="postcode__wrapper" class="input-field col s12 m4">
                <i class="material-icons prefix">location_searching</i>
                <input id="postcode" type="number" class="validate">
                <label for="postcode">Postcode</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input id="preferred_date" name="preferred_date" type="text" class="datepicker"
                    placeholder="Preferred Date *" required>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">access_time</i>
                <input id="preferred_time" name="preferred_time" type="text" class="timepicker"
                    placeholder="Preferred Time *" required>
            </div>
        </div>
        <div class="row">
            <button id="submit" class="btn waves-effect col s12" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>