@import 'materialize-css/sass/materialize';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary: #238dc1;
$secondary: #d3d655;

nav.mk-main-navigation.js-main-nav {
    background-color: initial !important;
    box-shadow: initial !important;
    width: initial !important;
    height: initial !important;
    line-height: initial !important;
}

.row {
    margin-bottom: 0;
}

input:-webkit-autofill+label {
    font-size: 0.8rem;
    transform: translateY(-140%);
}

#geoop-form-placeholder {
    width: 100% !important;
}

.geoop-form-wrapper {
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px black;
        border-radius: 20px;
        background: #238dc1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: #d3d655;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(212, 212, 171);
    }
}

#geoop-form-submit {
    border-radius: 30px !important;
    color: #212121 !important;
    background-color: $secondary !important;
}

.timepicker-modal,
.datepicker-modal {
    border-radius: 30px;
}

.timepicker-digital-display,
.datepicker-date-display {
    background-color: $primary;
}

.timepicker-svg>g {
    line {
        stroke: $secondary;
    }

    circle {
        fill: $secondary;
    }

}

.datepicker-table td {
    &.is-today {
        color: $secondary;
    }

    &.is-selected {
        background-color: $primary;
    }
}

.timepicker-tick:hover,
.datepicker-day-button:hover {
    background-color: $secondary;
    opacity: 30%;
}

.timepicker-close,
.datepicker-cancel,
.datepicker-done {
    border-radius: 30px;
    color: $primary;
}

.datepicker-calendar-container {
    margin: 0 10px;
}

.month-next,
.month-prev {
    border-radius: 30px;
}

#geoop-form-request-type,
#geoop-form-job-start-hour,
#geoop-form-job-start-minute {
    display: none !important;
}

ul.dropdown-content {
    border-radius: 30px;

    li {
        margin: 0 !important;

        span {
            color: $primary;
        }
    }
}


.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid $primary;
}

textarea.materialize-textarea:focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
}

textarea.materialize-textarea:focus:not([readonly])+label,
input[type='text']:not(.browser-default):focus:not([readonly])+label,
input[type='email']:not(.browser-default):focus:not([readonly])+label,
input[type='tel']:not(.browser-default):focus:not([readonly])+label,
input[type='number']:not(.browser-default):focus:not([readonly])+label {
    color: $primary;
}

/* label focus color */
.input-field>input[type=text]:focus+label {
    color: $primary;
}

.input-field>textarea:focus+label {
    color: $primary;
}

/* label underline focus color */
.input-field>input[type=text]:focus {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 #000;
}

.input-field>textarea:focus {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: $primary;
}

.input-field {
    display: flex;

    input {
        flex: auto;
    }
}